/* Shared */
* {
    box-sizing: border-box;
}


html,
body {
    background-color: #21618c;
    color: #333;
}

/* Headers/Titles */
.main-title {
    text-shadow: -1px -1px 1px #333;
    background-color: #21618c;
    color: white;
    text-align: center;
}

.section-title {
    text-shadow: 1px 1px 1px #fff;
    color: #333;
}

/* Design Area */
.design-area {
    /*margin: 0 auto;*/
    background: rgb(255, 255, 207);
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    border-right: 1px solid #696969;
    color: #696969;
}


.btn-group button {
    width: 50%;
}

/* Preview/Live Pixel Canvas Area */
.preview-area {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    background-color: white;
    color: #696969;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    padding: 20px;
    empty-cells: show;
    /*max-width: 100vh;*/
}


table,
tr,
td {
    border: 1px solid black;
}


td {
    padding: 15px;
    max-width: 80%;
    max-height: 80%;
}


.build,
button {
    background-color: #b03a2e;
    color: white;
}


.reset-canvas {
    width: 40%;
}


/* Preview Toolbar Area */
.toolbar {
    /*margin: 0 auto;*/
    background: transparent;
    height: 200px;
    margin: 100px auto 0 auto;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #696969;
    color: #fff;
    display: none;
}