/* Shared */
* {
    box-sizing: border-box;
}


html,
body {
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: #333;
    cursor: pointer;
}


.color-sample {
    width: 25px;
    height: 25px;
    border-bottom: 8px solid #eee;
    border-radius: 0 10%;
    background-color: #696969;
    display: inline-block;
}


.selected-color-icon {
    color: green;
    opacity: 1;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}


/* Custom Color Samples for cross-browser support */


/* IMPORTANT: Hides all input type="color" except in the canvas builder, so we can use an icon instead of ugly default element*/
/*input[type="color"]:not(#color-picker-1) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}*/


.glyphicon {
    font-size: 2em;
}


/* Headers/Titles */
.main-title {
    text-shadow: -1px -1px 1px #333;
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: white;
    text-align: center;
}


.section-title {
    text-shadow: 1px 1px 1px #fff;
    color: #333;
}

/* Design Area */
.design-area {
    /*margin: 0 auto;*/
    background: rgb(255, 255, 207);
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    border-right: 1px solid #696969;
    color: #696969;
    z-index: 5;
}


.btn-group button {
    width: 50%;
}

/* Preview/Live Pixel Canvas Area */
.preview-area {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    background-color: white;
    color: #696969;
}


table {
    margin: 10px auto 0 auto;
    border-collapse: collapse;
    max-width: 100vh;
}


table,
tr,
td {
    border: 1px solid #e3e3e3;
}


tr {
    height: 2em;
}


td {
    width: 2em;
    /*height: 25px;*/
    margin: 0;
    padding: 0;
    position: relative;
}


.sparkle {
    border-radius: 100%;
    background-color: #bbb;
    display: inline-block;
    padding: 2px; /*gives sparkle volume*/
    -webkit-animation: spin 2s linear infinite; /* Safari */
}


.build,
button {
    background-color: #b03a2e;
    color: white;
}

/* Live Pixel Coloring Keyboard Tool */
.keyboard tr {
    height: 0;
}


.pixel-text, .letter {
    cursor: text;
    position: relative;
}


.letter {
    background-color: #fff;
    padding: 15px;
}


.actions {
    margin-top: 0;
    text-align: center;
    display: none;
}


/* Preview Tooling Areas */
div.row.action-item * {
    vertical-align: middle;
    padding: 0;
    margin: 0 auto;
}

.toolbar {
    display: none;
}


.tool-icon {
    left: 5px;
    z-index: 9;
    position: absolute;
    color: #696969;
}


.current-tool-container {
    left: 150px;
    z-index: 9;
    position: absolute;
    margin: 0;
}


.tool-container {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border-collapse: collapse;
    empty-cells: show;
}


.toolbox {
    border-width: 15px .5px .5px 0;
    border-top-color: rgb(234, 223, 165);
    border-right-color: rgb(234, 223, 165);
    border-bottom-color: #666;
    border-left-color: #666;
    box-shadow: 6px 6px 10px rgba(58, 55, 106, 0.50);
    border-radius: 5px;
    border-style: solid;
    color: #666;
    /*background: rgba(203, 241, 174, .95);*/
    background: rgba(255, 255, 255, .85);
    padding: 10px;
    opacity: 0.10;
    left: -100px;
    margin-top: 10px;
    z-index: 9;
    position: absolute;
    height: 400px;
    width: 100px;
    text-align: center;
}


.text-tool {
    margin: 20px;
}


.action-button {
    padding: 5px;
    margin: 10px;
}


/* Homepage Flying Pixels */
.flying-pixel {
    width: 25px;
    height: 25px;
    animation: fly 2s;
    position: relative;
    text-align: center;
    left: 0;
    top: 0;
}


.pixel-1 {
    background: red;
    animation: fly 2s;
    left: 0;
    top: 70px;
}


.pixel-2 {
    background: white;
    border: 1px solid green;
    animation: fly 2s;
    left: 70px;
    top: 100px;
}


.pixel-3 {
    background: yellow;
    animation: fly 3s;
    left: 30px;
    top: 40px;
}


.pixel-4 {
    background: cornflowerblue;
    animation: fly 1s;
    left: 140px;
    top: 40px;
}


.pixel-5 {
    background: pink;
    animation: fly 6s;
    left: 200px;
    top: 30px;
}


.pixel-6 {
    background: white;
    border: 1px solid green;
    animation: fly 5s;
    left: 100px;
    top: 0;
}


.pixel-7 {
    background: black;
    border: 1px solid green;
    animation: fly 5s;
    left: 250px;
    top: 250px;
}


.large-pixel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border: 4px solid rgb(234, 223, 165);
}


.get-started-button {
    background-color: cadetblue;
    animation: fade 5s;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: initial;
}

/* Animations */

@keyframes fade {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}


/* Flying pixels on homepage */
@keyframes fly {
    0% {
        background: red;
        top: 200px;
        left: -800px;
    }
}


/* Creates sparkles for sparkling pixels cell */
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
        border-top: red;
    }

    100% {
        -webkit-transform: rotate(10deg);
        opacity: 0;
        border-top: green;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
        margin: 0;
        background-color: deeppink;
    }

    100% {
        transform: rotate(60deg);
        opacity: 1;
        margin: 5px;
        background-color: rebeccapurple;
    }
}


@keyframes reverseSpin {
    0% {
        transform: rotate(90deg);
        opacity: 1;
        margin: 0;
    }

    100% {
        transform: rotate(-160deg);
        opacity: 1;
        margin: 5px;
    }
}

/* Media queries */

/* Ajustments for homescreen flying pixels */
@media screen and (min-width: 600px) {
    .get-started-button {
        width: 50%;
        margin: 0 auto;
    }

    .pixel-8 {
        right: 0px;
        position: fixed;
        text-align: center;
        bottom: 0;
    }
}
