/* Shared */
* {
    box-sizing: border-box;
}


html,
body {
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: #333;
}

/* Headers/Titles */
.main-title {
    text-shadow: -1px -1px 1px #333;
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.section-title {
    text-shadow: 1px 1px 1px #fff;
    color: #333;
}

/* Design Area */
.design-area {
    /*margin: 0 auto;*/
    background: rgb(255, 255, 207);
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    border-right: 1px solid #696969;
    color: #696969;
    z-index: 5;
}


.btn-group button {
    width: 50%;
}

/* Preview/Live Pixel Canvas Area */
.preview-area {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    background-color: white;
    color: #696969;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    padding: 20px;
    empty-cells: show;
    /*max-width: 100vh;*/
}


table,
tr,
td {
    border: 1px solid black;
}


td {
    padding: 15px;
    max-width: 80%;
    max-height: 80%;
}


.build,
button {
    background-color: #b03a2e;
    color: white;
}


.reset-canvas {
    width: 40%;
    margin-top: 10px;
}

/* Preview Toolbar Area */
.toolbar {
    display: none;
}


.tool-icon {
    left: 0;
    z-index: 9;
    position: absolute;
    color: #696969;
    transform: rotate(230deg);
}


.glyphicon-wrench {
    font-size: 3.4em;
}


.toolbox {
    border-width: 15px .5px .5px 0;
    border-top-color: rgb(234, 223, 165);
    border-right-color: rgb(234, 223, 165);
    border-bottom-color: #666;
    border-left-color: #666;
    box-shadow: 6px 6px 10px rgba(58, 55, 106, 0.50);
    border-radius: 5px;
    border-style: solid;
    color: #666;
    /*background: rgba(203, 241, 174, .95);*/
    background: rgba(255, 255, 255, .85);
    padding: 10px;
    opacity: 0.10;
    left: -100px;
    margin-top: 10px;
    z-index: 9;
    position: absolute;
    height: 300px;
    width: 100px;
    text-align: center;
}
