/* Shared */
* {
    box-sizing: border-box;
}


html,
body {
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: #333;
    cursor: pointer;
}


/* IMPORTANT: Hides all input type="color" except in the canvas builder, so we can use an icon instead of ugly default element*/
input[type="color"]:not(#color-picker-1) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* Headers/Titles */
.main-title {
    text-shadow: -1px -1px 1px #333;
    /*background-color: #21618c;*/
    background-color: cadetblue;
    color: white;
    text-align: center;
}


.section-title {
    text-shadow: 1px 1px 1px #fff;
    color: #333;
}

/* Design Area */
.design-area {
    /*margin: 0 auto;*/
    background: rgb(255, 255, 207);
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    border-right: 1px solid #696969;
    color: #696969;
    z-index: 5;
}


.btn-group button {
    width: 50%;
}

/* Preview/Live Pixel Canvas Area */
.preview-area {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    height: 100vw;
    border-top: 1px solid #696969;
    background-color: white;
    color: #696969;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    padding: 20px;
    empty-cells: show;
    table-layout: fixed;
    width: 200px;
    /*max-width: 100vh;*/
}


table,
tr,
td {
    border: 1px solid black;
}


td {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    /*min-width: 80%;*/
    /*min-height: 80%;*/
}


.pixel-text, .letter {
    cursor: text;
    text-transform: uppercase;
    /*     color: salmon; */
}


.letter {
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid rgb(234, 223, 165);
}


.build,
button {
    background-color: #b03a2e;
    color: white;
}


.reset-canvas {
    /*width: 60%;*/
    /*margin-top: 10px;*/
}


.actions {
    margin-top: 10px;
    text-align: center;
}

/* Preview Toolbar Area */
.toolbar {
    display: none;
}


.tool-icon {
    left: 5px;
    z-index: 9;
    position: absolute;
    color: #696969;
    font-size: 2em;
    /*transform: rotate(230deg);*/
}

.current-tool-container {
    left: 150px;
    z-index: 9;
    position: absolute;
    margin: 0;
}


.keyboard {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border-collapse: collapse;
    empty-cells: show;
    /*table-layout: fixed;
    width: 100px;*/
}


.glyphicon-wrench {
    font-size: 3.4em;
}


.toolbox {
    border-width: 15px .5px .5px 0;
    border-top-color: rgb(234, 223, 165);
    border-right-color: rgb(234, 223, 165);
    border-bottom-color: #666;
    border-left-color: #666;
    box-shadow: 6px 6px 10px rgba(58, 55, 106, 0.50);
    border-radius: 5px;
    border-style: solid;
    color: #666;
    /*background: rgba(203, 241, 174, .95);*/
    background: rgba(255, 255, 255, .85);
    padding: 10px;
    opacity: 0.10;
    left: -100px;
    margin-top: 10px;
    z-index: 9;
    position: absolute;
    height: 300px;
    width: 100px;
    text-align: center;
}


.text-tool {
    margin: 20px;
}


.tool-title {
    margin-bottom: 5px;
}
